[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
altair = "==4.0.1"
matplotlib = "==3.1.2"
numpy = "==1.18.1"
pandas = "==0.25.3"
jupyterlab = "==1.2.5"
Keras = "==2.3.1"

[requires]
python_version = "3.7"
